body{background-color:black}
h1{color: green;}
h3{color:green}
hr{color: white}
p{color:white}
h4{color:green}
ol{color:white}
tr{color: green;}
button{color:green}
h2{color:green;}
i{color: green;}