img{border-radius: 20px;}
h1{color:red}
h6{color:red}
h2{color: rgb(20, 20, 151);}
.blue{color: rgb(20, 20, 151);}
.black{background-color: black; color: white;}
h4{color:rgb(194, 207, 116)}
.culture{color:rgb(194, 207, 116)}
h5{color: blueviolet;}
.sport{color: blueviolet;}
